doctype html
html(lang='en')

  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Ultimate Tic Tac Toe')
    title Ultimate Tic Tac Toe

    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')

    // build:css styles/main.min.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body

    header
      h1 Ultimate Tic Tac Toe

    #ultimate-tic-tac-toe.container

      each urow in [0,1,2]
        .board-row.row
          each ucolumn in [0,1,2]
            .tic-tac-toe.container.col-sm-4
              each row in [0,1,2]
                .ttt-row.row
                  each column in [0,1,2]
                    .tile.col-sm-4(id = "#{urow*3 + ucolumn},#{row*3 + column}")
        
      .credit
        | By 
        a(href='https://github.com/jordao76') Jordão
        | . Check it out on 
        a(href='https://github.com/jordao76/ultimate-tic-tac-toe') GitHub
        | .

    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='scripts/main.min.js')
