doctype html
html(lang='en')

  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Ultimate Tic Tac Toe')
    title Ultimate Tic Tac Toe

    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')

    // build:css styles/main.min.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body

    header
      h1 Ultimate Tic Tac Toe

    #ultimate-tic-tac-toe.container

      each urow in [0,1,2]
        .board-row.row
          each ucolumn in [0,1,2]
            .tic-tac-toe.container.col-xs-4
              each row in [0,1,2]
                .ttt-row.row
                  each column in [0,1,2]
                    .tile.col-xs-4(id = "#{urow*3 + ucolumn},#{row*3 + column}")

      .row
        #spinner.col-xs-2
        .credit.col-xs-10
          | By
          a(href='https://github.com/jordao76') Jordão
          | . Check it out on
          a(href='https://github.com/jordao76/ultimate-tic-tac-toe') GitHub
          | .

    #game-over.modal.fade(tabindex='-1', role='dialog', aria-labelledby='game-over-label')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#game-over-label.modal-title Game Over
          #game-over-text.modal-body
          .modal-footer
            button.btn.btn-primary(type='button', data-dismiss='modal') Start over

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-68998209-1', 'auto');
      ga('send', 'pageview');
    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/bower_components/spin.js/spin.min.js')
    script(type='text/javascript', src='scripts/main.min.js')
